.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 30px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.logo h2 {
  margin: 0;
  color: #7a0f2b;
}

.logo span {
  font-size: 12px;
  color: #777;
}

.search {
  width: 40%;
  padding: 10px 14px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a.active {
  color: #7a0f2b;
}

.bag {
  background: #7a0f2b;
  color: white !important;
  padding: 8px 14px;
  border-radius: 20px;
}
